
doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
		title Astrum
		link(rel="stylesheet", href="./css/normalize.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel="stylesheet", href="../../../../css/index.css")
	body(class="wrap")
		header
			h1 AstrumApp
			img(src="../../../../#{user.photo.path}", width="80")
			p @#{user.username}
		
		h2 Signup: Registrar nuevo usuario en #{type_user}
		p #{msg}

		form(action="/dashboard/usuarios/#{type_user}/register", method="post", class="max_space")
			div
				div
					label Contratista
				div
					ul(id="contratista_list")
						each contratista in contratistas
							div
								input(type="radio", name="contratista", value="#{contratista._id}")
								label #{contratista.name}
					div(class="")
						a(href="#", id="btn_contratista_open", class="btn btn-default") Agregar Contratista
						div(id="form_contratista_add", style="display: none;")
							input(type="text", id="txt_contratista_add", class="form-control  wrap_padding", placeholder="Escribe un nuevo contratista")
							a(href="#" id="btn_contratista_add", class="btn btn-primary") Agregar
			div
				div
					label Nombres
				div
					input(type="text", name="names", class="form-control  wrap_padding", required)
			div
				div
					label Apellidos
				div
					input(type="text", name="last_names", class="form-control  wrap_padding", required)
			div
				div
					label DNI
				div
					input(type="number", name="dni", class="form-control  wrap_padding", required)
			div
				div
					label email
				div
					input(type="email", name="email", class="form-control  wrap_padding", required)
			div
				div
					label Usuario
				div
					input(type="text", name="username", class="form-control  wrap_padding", required)
			div
				div
					label Contraseña
				div
					input(type="password", name="password", class="form-control  wrap_padding", required)

			div
				div
					label Confirmar Contraseña
				div
					input(type="password", name="re_password", class="form-control  wrap_padding", required)
			div
				button(class="btn btn-success form-control btn-lg") Registrar

script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.1.js")
script(type="text/javascript", src="../../../../js/register/index.js")